services:
  x-common-config: &common-config
    build:
      context: .
      args:
        GFX: "gfx1100"
    environment:
      - HSA_OVERRIDE_GFX_VERSION="11.0.0"
      - TORCH_ROCM_AOTRITON_ENABLE_EXPERIMENTAL="1"
    devices:
      - "/dev/kfd:/dev/kfd"
      - "/dev/dri:/dev/dri"

  ##################################################################
  # Default: PartCrafter
  # Comment PartCrafter if not selected
  # and Uncomment Your Selected App Below
  # you can Uncomment 1, 2 or 3 app, according to the dockerfile
  ##################################################################

  # ################################################################
  # # ComfyUI ######################################################
  # comfyui:
  #   <<: *common-config
  #   ports:
  #     - "8188:8188"
  #   volumes:
  #     - comfyui_models:/AI/ComfyUI/models
  #     - comfyui_input:/AI/ComfyUI/input
  #     - comfyui_output:/AI/ComfyUI/output
  #     - comfyui_custom_nodes:/AI/ComfyUI/custom_nodes
  #   command: ["/bin/bash", "-lc", "cd /AI/ComfyUI &&./run.sh"]
  # ################################################################
  # # Text Generation WebUI ########################################
  # text-generation-webui:
  #   <<: *common-config
  #   ports:
  #     - "7861:7860"
  #   volumes:
  #     - textgen_models:/AI/text-generation-webui/models
  #     - textgen_loras:/AI/text-generation-webui/loras
  #   command: ["/bin/bash", "-lc", "cd /AI/text-generation-webui &&./run.sh"]
  # ################################################################
  # # SillyTavern ##################################################
  # sillytavern:
  #   <<: *common-config
  #   ports:
  #     - "8000:8000"
  #   volumes:
  #     - sillytavern_data:/AI/SillyTavern/data
  #   command:
  # ################################################################
  # # SillyTavern + WhisperSpeech WebUI (NEW)#######################
  # sillytavern-whisperspeech:
  #   <<: *common-config
  #   ports:
  #     - "8001:8000"
  #   volumes:
  #     - sillytavern_data:/AI/SillyTavern/data
  #   command:
  # ################################################################
  # # llama.cpp ####################################################
  # llama-cpp:
  #   <<: *common-config
  #   ports:
  #     - "8080:8080"
  #   volumes:
  #     - llamacpp_models:/AI/llama.cpp/models
  #   command: ["/bin/bash", "-lc", "cd /AI/llama.cpp &&./run.sh"]
  # ################################################################
  # # KoboldCPP ####################################################
  # koboldcpp:
  #   <<: *common-config
  #   ports:
  #     - "5000:5000"
  #   volumes:
  #     - koboldcpp_models:/AI/koboldcpp-rocm/models
  #   command: ["/bin/bash", "-lc", "cd /AI/koboldcpp-rocm &&./run.sh"]
  # ################################################################
  # # Ollama #######################################################
  # ollama:
  #   <<: *common-config
  #   ports:
  #     - "11434:11434"
  #   volumes:
  #     - ollama_data:/AI/custom_files/.ollama
  #   command: ["/bin/bash", "-lc", "/usr/local/bin/ollama serve"]
  # ################################################################
  # # WhisperSpeech WebUI ##########################################
  # whisperspeech:
  #   <<: *common-config
  #   ports:
  #     - "7862:7860"
  #   command: ["/bin/bash", "-lc", "cd /AI/whisperspeech-webui &&./run.sh"]
  # ################################################################
  # # ACE-Step #####################################################
  # ace-step:
  #   <<: *common-config
  #   ports:
  #     - "7865:7865"
  #   volumes:
  #     - acestep_checkpoints:/AI/ACE-Step/checkpoints
  #   command:
  # ################################################################
  # # F5-TTS #######################################################
  # f5-tts:
  #   <<: *common-config
  #   ports:
  #     - "7863:7860"
  #   command:
  # ################################################################
  # # Matcha-TTS ###################################################
  # matcha-tts:
  #   <<: *common-config
  #   ports:
  #     - "7864:7860"
  #   command:
  # ################################################################
  # # Dia ##########################################################
  # dia:
  #   <<: *common-config
  #   ports:
  #     - "8003:8003"
  #   command: ["/bin/bash", "-lc", "cd /AI/dia &&./run.sh"]
  # ################################################################
  # # Chatterbox ###################################################
  # chatterbox:
  #   <<: *common-config
  #   ports:
  #     - "7866:7860"
  #   command: ["/bin/bash", "-lc", "cd /AI/Chatterbox &&./run.sh"]
  # ################################################################
  # # KaniTTS ######################################################
  # kanitts:
  #   <<: *common-config
  #   ports:
  #     - "8002:8000"
  #   command:
  # ################################################################
  # # KaniTTS vLLM #################################################
  # kanitts-vllm:
  #   <<: *common-config
  #   ports:
  #     - "8004:8000"
  #   command:
  # ################################################################
  # PartCrafter ####################################################
  partcrafter:
    <<: *common-config
    ports:
      - "7860:7860"
    command: ["/bin/bash", "-lc", "cd /AI/PartCrafter &&./run.sh"]
  # ################################################################
  # # Fastfetch (NEW) ##############################################
  # fastfetch:
  #   <<: *common-config
  #   command: ["/bin/bash", "-lc", "fastfetch"]
  ################################################################
  # --- Utility Service ---
  bash:
    <<: *common-config
    stdin_open: true
    tty: true
    # the bash have access to all volumes
    volumes:
      - comfyui_models:/AI/ComfyUI/models
      - comfyui_input:/AI/ComfyUI/input
      - comfyui_output:/AI/ComfyUI/output
      - comfyui_custom_nodes:/AI/ComfyUI/custom_nodes
      - textgen_models:/AI/text-generation-webui/models
      - textgen_loras:/AI/text-generation-webui/loras
      - sillytavern_data:/AI/SillyTavern/data
      - llamacpp_models:/AI/llama.cpp/models
      - koboldcpp_models:/AI/koboldcpp-rocm/models
      - ollama_data:/AI/custom_files/.ollama
      - acestep_checkpoints:/AI/ACE-Step/checkpoints
    command: /bin/bash

# Define all Volumes
volumes:
  comfyui_models:
  comfyui_input:
  comfyui_output:
  comfyui_custom_nodes:
  textgen_models:
  textgen_loras:
  sillytavern_data:
  llamacpp_models:
  koboldcpp_models:
  ollama_data:
  acestep_checkpoints: